<!-- <span>{{area?.type === 'circle' ? 'Circular' : 'Rectangular'}} area on tile {{area?.pos?.c}},{{area?.pos?.r}}</span> -->
<div flex [formGroup]="form" class="form">
    <div flex="column" class="type">
        <!-- <mat-icon>{{area?.type}}</mat-icon> -->
        <div class="shape-box" [class.circle]="area?.type === 'circle'">
            <div>Area</div>
            <div>
                <span class="superscript c" [style.text-decoration]="selectDirection.value?.label === 'Column' ? 'underline' : 'unset'">{{area?.pos?.c}}</span>,
                <span class="superscript r" [style.text-decoration]="selectDirection.value?.label === 'Row' ? 'underline' : 'unset'">{{area?.pos?.r}}</span>
            </div>
        </div>
        <!-- <span style="font-size: 8px;">{{area?.type}}</span> -->
    </div>
    <mat-form-field appearance="outline" class="select-box" [class.mat-form-field-invalid]="form.hasError('invalidGesture') && !form.hasError('required')">
        <mat-label>Gesture</mat-label>
        <mat-select formControlName="gesture">
            <ng-container *ngFor="let gesture of gestures">
                <mat-option *ngIf="gesture.items === undefined" value="gesture.value">{{gesture.label}}</mat-option>
                <mat-optgroup *ngIf="gesture.items !== undefined" [label]="gesture.label">
                    <mat-option *ngFor="let item of gesture.items" [value]="item.value">
                        {{item.label}}
                    </mat-option>
                </mat-optgroup>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <div flex="column">
        <div flex style="gap: 16px">
            <mat-form-field appearance="outline" class="select-icon-box" [class.mat-form-field-invalid]="form.hasError('invalidDirection') && !form.hasError('required')">
                <mat-label>Slide direction</mat-label>
                <mat-select #selectDirection formControlName="direction">
                    <mat-select-trigger>
                        <mat-icon>{{selectDirection.value?.icon}}</mat-icon>
                    </mat-select-trigger>
                    <mat-option [value]="option" *ngFor="let option of direction">
                        <mat-icon>{{option.icon}}</mat-icon>{{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="number-box" [class.mat-form-field-invalid]="form.hasError('invalidStart') && !form.hasError('required')"
                matTooltip="The first frame of the animation"
                matTooltipShowDelay="500">
                <mat-label>Start<ng-container *ngIf="selectDirection.value"> {{selectDirection.value.value === 'row' ? 'col' : 'row'}}</ng-container></mat-label>
                <input matInput type="number" formControlName="from" min="0" max="10000">
            </mat-form-field>
        </div>
        <mat-hint *ngIf="selectDirection.value" style="font-size: 12px; line-height: 15px;">Animating {{selectDirection.value?.label === 'Row' ? 'columns' : 'rows'}} along {{selectDirection.value?.label === 'Row' ? 'row' : 'column'}} {{selectDirection.value?.label === 'Row' ? area?.pos?.r : area?.pos?.c}}</mat-hint>
        <!-- <mat-checkbox color="primary" formControlName="disableOnEnd"
            matTooltip="Disable the area once the animation completes, i.e. the final state is reached. Ticking this box allows the creation of custom undo gestures to return to the previous state"
            matTooltipShowDelay="500"
            >Disable area on end</mat-checkbox> -->
    </div>
    <mat-form-field appearance="outline" class="number-box" [class.mat-form-field-invalid]="form.hasError('invalidEnd') && !form.hasError('required')"
        matTooltip="The last frame of the animation"
        matTooltipShowDelay="500">
        <mat-label>End<ng-container *ngIf="selectDirection.value"> {{selectDirection.value.value === 'row' ? 'col' : 'row'}}</ng-container></mat-label>
        <input matInput type="number" formControlName="to" min="0" max="10000">
    </mat-form-field>
</div>
<mat-error *ngIf="this.form.errors !== null">{{this.form.errors | errorText}}</mat-error>