<ng-container [formGroup]="form">
    <div flex="column">
        <mat-icon>{{area?.type}}</mat-icon>
        <span style="font-size: 8px;">{{area?.type}}</span>
    </div>
    <!-- <mat-form-field appearance="outline" class="select-icon-box">
        <mat-label>Area</mat-label>
        <mat-select #selectArea>
            <mat-select-trigger>
                <mat-icon>{{ selectArea.value?.icon }}</mat-icon>
            </mat-select-trigger>
            <mat-option [value]="option" *ngFor="let option of areaType">
                <mat-icon>{{option.icon}}</mat-icon>{{option.label}}
            </mat-option>
        </mat-select>
        <mat-hint>{{selectArea.value?.label}}</mat-hint>
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="select-box">
        <mat-label>Gesture</mat-label>
        <mat-select formControlName="gesture">
            <mat-option value="tap">Tap</mat-option>
        </mat-select>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="number-box">
        <mat-label>From</mat-label>
        <input matInput type="number" formControlName="from" min="0" max="10000">
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="number-box">
        <mat-label>To</mat-label>
        <input matInput type="number" formControlName="to" min="0" max="10000">
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="select-icon-box">
        <mat-label>Direction</mat-label>
        <mat-select #selectDirection formControlName="direction">
            <mat-select-trigger>
                <mat-icon>{{ selectDirection.value?.icon }}</mat-icon>
            </mat-select-trigger>
            <mat-option [value]="option" *ngFor="let option of direction">
                <mat-icon>{{option.icon}}</mat-icon>{{option.label}}
            </mat-option>
        </mat-select>
        <mat-hint>{{selectDirection.value?.label}}</mat-hint>
    </mat-form-field>    
</ng-container>