input-item {
    & .form {
        align-items: start;
        gap: 16px;

        & .type {
            align-items: center;
            justify-content: center;
        }
    }

    & .number-box .mat-form-field-infix {
        max-width: 60px;
    }

    & .select-icon-box .mat-form-field-infix {
        max-width: 100px;
        padding: 12px 0;
        max-height: 26px;
        height: 26px;
    }

    & .select-box .mat-form-field-infix {
        max-width: 120px;
    }

    & .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    & .mat-error {
        font-size: 12px;
        line-height: 16px;
    }
}