<div style="display: flex; flex-direction: column;">
    <div [formGroup]="settings" style="display: flex; flex-direction: column;">
        <mat-form-field appearance="outline">
            <mat-label>Sprite sheet</mat-label>
            <input #fileUpload matInput formControlName="file" placeholder="Click to upload an image" accept="image/*" (click)="fileInput.click()">
            <mat-icon matSuffix (click)="fileInput.click()">attach_file</mat-icon>
            <mat-hint *ngIf="currentFile">{{currentFile.width}}&#215;{{currentFile.height}}px</mat-hint>
        </mat-form-field>
        <input hidden (change)="selectFile$.next()" #fileInput type="file" id="file" accept="image/*">

        <div style="display: flex; gap: 16px; padding-top: 16px;" formGroupName="viewport">
            <mat-form-field appearance="outline">
                <mat-label>Columns</mat-label>
                <input matInput formControlName="cols" placeholder="" type="number">
                <mat-hint *ngIf="currentFile && settings.get('viewport.cols')">Column width: {{(currentFile.width/(settings.get('viewport.cols')!.value ? +settings.get('viewport.cols')!.value : 1)) | number: '1.0-1'}}px</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rows</mat-label>
                <input matInput formControlName="rows" placeholder="Placeholder" type="number">
                <mat-hint *ngIf="currentFile && settings.get('viewport.rows')">Row height: {{(currentFile.height/(settings.get('viewport.rows')!.value ? +settings.get('viewport.rows')!.value : 1)) | number: '1.0-1'}}px</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>