.animation-control-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.animation-box-empty-state {
    display: flex;
    align-items: center;
    justify-content: center;

    & .mat-icon {
        width: 128px;
        height: 128px;
        font-size: 128px;
        opacity: 0.05;
    }

    & span {
        position: absolute;
        opacity: 0.8;
        font-size: 12px;
    }
}