<h1>Animation preview</h1>
<div *ngIf="image" style="display: flex; justify-content: center; align-items: center; border: 1px solid black; background-position: 0 0;"
    style.max-width="{{viewportSize.width}}px"
    style.max-height="{{viewportSize.height}}px"
    style.width="{{viewportSize.width}}px"
    style.height="{{viewportSize.height}}px"
    [ngStyle]="{'background-image':'url('+ image.base64 +')', 'background-position': (backgroundPosition$ | async)?.c+'px ' + (backgroundPosition$ | async)?.r + 'px'}"
    style.background-size="{{originalViewport.cols*viewportSize.width}}px {{originalViewport.rows*viewportSize.height}}px">
    <!-- <img [src]="image?.base64" attr.width="{{image?.width}}" attr.height="{{image?.height}}" style="object-fit: none;" style.width="{{viewportSize.width}}px"
    style.height="{{viewportSize.height}}px"
    style.object-position="{{-viewportSize.width*tile.c}}px {{-viewportSize.height*tile.r}}px"> -->
</div>
<mat-slider
    [disabled]="selectedAreaForm === undefined || selectedAreaForm.invalid || selectedAreaForm.pending"
    [max]="selectedAreaForm !== undefined && selectedAreaForm.valid ? selectedAreaForm.controls['to'].value : 1"
    [min]="selectedAreaForm !== undefined && selectedAreaForm.valid ? selectedAreaForm.controls['from'].value : 0"
    step="1"
    showTickMarks="true"
    [value]="playPosition$ | async"
    (input)="playPosition$.next($event.value ?? 0)"
    >
    <!-- <input #slider (value)="playPosition"> -->
</mat-slider>
<!-- <span>{{(playPosition$ | async).value}}</span> -->
<div class="animation-control-box">
    <mat-button-toggle value="left" aria-label="Preview undo animation" matTooltip="Toggle undo animation preview" [disabled]="selectedAreaForm === undefined || !selectedAreaForm.controls['allowUndo'].value">
        <mat-icon>undo</mat-icon>
    </mat-button-toggle>
    <button mat-fab *ngIf="viewportSize.width && viewportSize.height" color="primary" (click)="playPause$.next()">
        <mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="stop$.next()">
        <mat-icon>stop</mat-icon>
    </button>
</div>
<div>{{viewportSize.width}}x{{viewportSize.height}}</div>
<div>aspect ratio: {{viewportSize.height/viewportSize.width}}</div>
<div>{{panelWidth}}x{{panelHeight}}</div>