<mat-toolbar style="background: rgba(0,0,0,0); padding: 0;">
    <span>Code</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button aria-label="Close panel" (click)="closeDrawer$.next()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-checkbox [checked]="deployLocally" (change)="changeDeployMode$.next()">Deploy locally</mat-checkbox>
<div *ngIf="deployLocally; else deployOnlineLabel" style="display: flex; align-items: center; padding-bottom: 8px;">
    <button mat-stroked-button aria-label="Download source" *ngIf="deployLocally" style="flex-shrink: 0;">
        <mat-icon>download</mat-icon>
        <span style="margin-left: 2px;">Download source</span>
    </button>
    <span style="flex: 1 1 auto;"></span>
    <span style="margin-left: 8px;">Unzip the code snippets onto a local server to deploy the prototype</span>
</div>

<ng-template #deployOnlineLabel>Paste these three code snippets into an online code editor or a questionnaire editor to deploy the prototype</ng-template>

<snippet-box title="HTML" type="html"></snippet-box>
<snippet-box title="CSS" type="css"></snippet-box>
<snippet-box title="JS" type="js"></snippet-box>