<mat-toolbar style="background: rgba(0,0,0,0); padding: 0;">
    <span>Code</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button aria-label="Close panel" (click)="closeDrawer$.next()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<p>Copy and paste this source code on the questionnaire editor</p>

<snippet-box title="HTML" code="Test HTML"></snippet-box>
<snippet-box title="CSS" code="Test CSS"></snippet-box>
<snippet-box title="JS" code="Test JS"></snippet-box>