<mat-toolbar style="background: rgba(0,0,0,0); padding: 0;">
    <span>Code</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button aria-label="Close panel" (click)="closeDrawer$.next()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-checkbox [checked]="deployLocally" (change)="changeDeployMode$.next()">Deploy locally</mat-checkbox>

<p>Paste these three code snippets into an online code editor or a questionnaire editor to deploy the prototype</p>

<snippet-box title="HTML" type="html"></snippet-box>
<snippet-box title="CSS" type="css"></snippet-box>
<snippet-box title="JS" type="js"></snippet-box>