.content {
    display: flex;
      
    & > *:not(preview-box) {
        flex-basis: 40%;
        box-sizing: border-box;
    }

    & > preview-box {
        max-width: 20%;
        box-sizing: border-box;
    }
}