<h1 mat-dialog-title>Guide - Interactive Areas</h1>
<div mat-dialog-content>
  <span>An interactive area defines a region on the viewport that reacts to a gesture performed by the user by animating a portion of the sprite-sheet.</span>
  <br style="margin-bottom: 8px;">
  <span>To define an interactive area, click on the <i>Add interactive area</i> button, select the shape the area should have and draw it on the sprite-sheet.</span>
  <br>
  <span>Once the area has been drawn, its configuration can be completed by specifying:
    <ul style="margin: 4px 0; padding: 0 24px;">
        <li>the <b>gesture</b> the area should react to</li>
        <li>the <b>direction</b>, horizontal or vertical, in which the sprite-sheet shall slide to animate</li>
        <li>the <b>start</b> frame from which the animation shall start. This frame can be changed by dragging the shape onto another tile of the sprite-sheet</li>
        <li>the <b>end</b> frame where the animation shall stop</li>
        <li>whether the area shall also behave as <b>undo action</b></li>
    </ul>
    By default, the area is not disabled once the animation reaches the end frame. Therefore, performing the gesture again will revert the animation to the initial frame. 
    To change this behavior and define a custom undo action, deselect the checkbox <i>Use this area also for the undo action</i>.
</span>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="close()">Close</button>
</div>