<div *ngIf="image$ | async" style="position: relative; overflow: hidden;">
    <img [src]="image$ | async">
    <svg #canvas attr.width="{{(originalSize !== undefined ? originalSize.width : 0)}}"
        attr.height="{{(originalSize !== undefined ? originalSize.height : 0)}}" class="canvas-box">
        <defs>
            <pattern id="invalid" patternUnits="userSpaceOnUse" width="20" height="80" patternTransform="scale(1) rotate(45)">
                <rect x="0" y="0" width="100%" height="100%" fill="rgba(0, 0, 0, 0.15)"></rect>
                <path stroke="rgba(0,0,0,0.7)" fill="none"
                    d="M0 10h20z" stroke-width="10"></path>
                <path stroke="rgba(0,0,0,0.7)" fill="none" d="M0 30h20z" stroke-width="10"></path>
                <path stroke="rgba(0,0,0,0.7)" fill="none" d="M0 50h20z" stroke-width="10"></path>
                <path stroke="rgba(0,0,0,0.7)" fill="none" d="M0 70h20z" stroke-width="10"></path>
            </pattern>
            <pattern id="invalid-selected" patternUnits="userSpaceOnUse" width="20" height="80" patternTransform="scale(1) rotate(45)">
                <rect x="0" y="0" width="100%" height="100%" fill="rgba(0, 0, 0, 0.15)"></rect>
                <path stroke="rgba(255,0,0,0.7)" fill="none"
                    d="M0 10h20z" stroke-width="10"></path>
                <path stroke="rgba(255,0,0,0.7)" fill="none" d="M0 30h20z" stroke-width="10"></path>
                <path stroke="rgba(255,0,0,0.7)" fill="none" d="M0 50h20z" stroke-width="10"></path>
                <path stroke="rgba(255,0,0,0.7)" fill="none" d="M0 70h20z" stroke-width="10"></path>
            </pattern>
            <pattern id='pending' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'>
                <rect x='0' y='0' width='100%' height='100%' fill='rgba(0, 0, 0, 0.15)'/>
                <path d='M20-5V5m0 30v10m20-30v10M0 15v10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(0, 0, 0, 0.7)" fill='none'/>
                <path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(0, 0, 0, 0.7)" fill='none'/>
            </pattern>
            <pattern id='pending-selected' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'>
                <rect x='0' y='0' width='100%' height='100%' fill='rgba(0, 0, 0, 0.15)'/>
                <path d='M20-5V5m0 30v10m20-30v10M0 15v10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(255, 0, 0, 0.7)" fill='none'/>
                <path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(255, 0, 0, 0.7)" fill='none'/>
            </pattern>
        </defs>
        <ng-container *ngFor="let area of areas; let i = index">
            <ng-container [ngSwitch]="area.type">
                <circle *ngSwitchCase="'circle'"
                    attr.cx="{{area.x}}"
                    attr.cy="{{area.y}}"
                    attr.r="{{(area | castShape).r}}"
                    attr.fill="{{this.formArray!.controls[i].valid ? '#4db6ac' : this.formArray!.controls[i].pending ?
                    'url(#pending'+ (selectedAreaIndex === i ? '-selected' : '') +')' :
                    'url(#invalid' + (selectedAreaIndex === i ? '-selected' : '') +')'}}"
                    opacity="0.5" attr.stroke="{{selectedAreaIndex === i && !this.formArray!.controls[i].valid ? 'red' : '#00857c'}}" attr.stroke-width="{{selectedAreaIndex === i ? 4 : 0}}"
                    (click)="selectArea(i)" />
                <rect *ngSwitchCase="'rectangle'"
                    attr.x="{{(area | castShape).w-(area | castShape).x < 0 ? (area | castShape).w : (area | castShape).x}}"
                    attr.y="{{(area | castShape).h-(area | castShape).y < 0 ? (area | castShape).h : (area | castShape).y}}"
                    attr.width="{{(area | castShape).w-(area | castShape).x < 0 ? (area | castShape).x-(area | castShape).w : (area | castShape).w-(area | castShape).x}}"
                    attr.height="{{(area | castShape).h - (area | castShape).y < 0 ? (area | castShape).y - (area | castShape).h : (area | castShape).h - (area | castShape).y}}"
                    attr.fill="{{this.formArray!.controls[i].valid ? '#4db6ac' : this.formArray!.controls[i].pending ?
                        'url(#pending'+ (selectedAreaIndex === i ? '-selected' : '') +')' :
                        'url(#invalid' + (selectedAreaIndex === i ? '-selected' : '') +')'}}"
                    opacity="0.5" attr.stroke="{{selectedAreaIndex === i && !this.formArray!.controls[i].valid ? 'red' : '#00857c'}}" attr.stroke-width="{{selectedAreaIndex === i ? 4 : 0}}"
                    (click)="selectArea(i)" />
            </ng-container>
        </ng-container>
    </svg>
    <draw-box class="canvas-box" [style.pointer-events]="drawBoxPointerEvents" style.background-size="{{viewportSize.width}}px {{viewportSize.height}}px"></draw-box>
    <!-- The rowHeight introduces an offset of 1px for each row if the plain viewportSize is used, therefore the sum of such offsets must be removed from the count beforehand and a modified rowHeight must be passed as parameter -->
    <mat-grid-list *ngIf="originalSize" [cols]="originalSize.width/viewportSize.width" rowHeight="{{(originalSize.height-(gridIndexes.length/(originalSize.width/viewportSize.width)))/(originalSize.height/viewportSize.height)}}px" class="grid-box">
        <mat-grid-tile *ngFor="let tile of gridIndexes"
        [class.frame]="tile.is_frame">
            <div class="label">
                <span [class.selected]="!(selectedAreaIndex | isNan) && selectedAreaIndex >= 0 && $any(this.formArray!.controls[selectedAreaIndex].get('direction')?.value)?.label === 'Column' && areas[selectedAreaIndex].pos.c === tile.c">{{tile.c}}</span>
                , 
                <span [class.selected]="!(selectedAreaIndex | isNan) && selectedAreaIndex >= 0 && $any(this.formArray!.controls[selectedAreaIndex].get('direction')?.value)?.label === 'Row' && areas[selectedAreaIndex].pos.r === tile.r">{{tile.r}}</span>
                <mat-icon *ngIf="tile.is_frame">videocam</mat-icon>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="!(image$ | async)" class="t-education" style="display: flex; align-items: center; justify-content: center;">
    <span>No spritesheet selected</span>
</div>