<!-- <span *ngIf="point">{{point.x}}, {{point.y}}</span>
<span *ngIf="!(selectedAreaIndex | isNan)">{{areas[selectedAreaIndex].x}}, {{areas[selectedAreaIndex].y}}</span> -->
<div *ngIf="image$ | async" style="position: relative; overflow-x: hidden; overflow-y: auto; box-sizing: border-box;" style.maxHeight="{{originalSize !== undefined ? originalSize.height+5 : 0}}px">
    <img [src]="image$ | async">
    <svg #canvas attr.width="{{(originalSize !== undefined ? originalSize.width : 0)}}"
        attr.height="{{(originalSize !== undefined ? originalSize.height : 0)}}" class="canvas-box" cdkDropList>
        <defs>
            <pattern id="invalid" patternUnits="userSpaceOnUse" width="20" height="80" patternTransform="scale(1) rotate(45)">
                <rect x="0" y="0" width="100%" height="100%" fill="rgba(0, 0, 0, 0.15)"></rect>
                <path stroke="rgba(0,0,0,0.7)" fill="none"
                    d="M0 10h20z" stroke-width="10"></path>
                <path stroke="rgba(0,0,0,0.7)" fill="none" d="M0 30h20z" stroke-width="10"></path>
                <path stroke="rgba(0,0,0,0.7)" fill="none" d="M0 50h20z" stroke-width="10"></path>
                <path stroke="rgba(0,0,0,0.7)" fill="none" d="M0 70h20z" stroke-width="10"></path>
            </pattern>
            <pattern id="invalid-selected" patternUnits="userSpaceOnUse" width="20" height="80" patternTransform="scale(1) rotate(45)">
                <rect x="0" y="0" width="100%" height="100%" fill="rgba(0, 0, 0, 0.15)"></rect>
                <path stroke="rgba(255,0,0,0.7)" fill="none"
                    d="M0 10h20z" stroke-width="10"></path>
                <path stroke="rgba(255,0,0,0.7)" fill="none" d="M0 30h20z" stroke-width="10"></path>
                <path stroke="rgba(255,0,0,0.7)" fill="none" d="M0 50h20z" stroke-width="10"></path>
                <path stroke="rgba(255,0,0,0.7)" fill="none" d="M0 70h20z" stroke-width="10"></path>
            </pattern>
            <pattern id='pending' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'>
                <rect x='0' y='0' width='100%' height='100%' fill='rgba(0, 0, 0, 0.15)'/>
                <path d='M20-5V5m0 30v10m20-30v10M0 15v10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(0, 0, 0, 0.7)" fill='none'/>
                <path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(0, 0, 0, 0.7)" fill='none'/>
            </pattern>
            <pattern id='pending-selected' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'>
                <rect x='0' y='0' width='100%' height='100%' fill='rgba(0, 0, 0, 0.15)'/>
                <path d='M20-5V5m0 30v10m20-30v10M0 15v10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(255, 0, 0, 0.7)" fill='none'/>
                <path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10' stroke-linecap='square' stroke-width='7.5' stroke="rgba(255, 0, 0, 0.7)" fill='none'/>
            </pattern>
        </defs>
        <!-- clones of the element that is being dragged -->
        <ng-container *ngIf="!(draggedAreaIndex | isNan) && point">
            <ng-container [ngSwitch]="point.type">
                <circle *ngSwitchCase="'circle'" [attr.r]="(areas[draggedAreaIndex] | castShape).r" [attr.cx]="point.x" [attr.cy]="point.y" 
                    attr.fill="{{this.formArray!.controls[draggedAreaIndex].valid ? '#4db6ac' : this.formArray!.controls[draggedAreaIndex].pending ?
                    'url(#pending-selected)' : 'url(#invalid-selected)'}}" opacity=".5" 
                    attr.stroke="{{!this.formArray!.controls[draggedAreaIndex].valid ? 'red' : '#00857c'}}" stroke-width="4"
                    class="cdk-drag-dragging"
                />
                <rect *ngSwitchCase="'rectangle'"
                    attr.x="{{(point | castShape).w-(point | castShape).x < 0 ? (point | castShape).w : (point | castShape).x}}"
                    attr.y="{{(point | castShape).h-(point | castShape).y < 0 ? (point | castShape).h : (point | castShape).y}}"
                    attr.width="{{(point | castShape).w-(point | castShape).x < 0 ? (point | castShape).x-(point | castShape).w : (point | castShape).w-(point | castShape).x}}"
                    attr.height="{{(point | castShape).h - (point | castShape).y < 0 ? (point | castShape).y - (point | castShape).h : (point | castShape).h - (point | castShape).y}}"
                    attr.fill="{{this.formArray!.controls[draggedAreaIndex].valid ? '#4db6ac' : this.formArray!.controls[draggedAreaIndex].pending ?
                    'url(#pending-selected)' : 'url(#invalid-selected)'}}" opacity=".5"
                    attr.stroke="{{!this.formArray!.controls[draggedAreaIndex].valid ? 'red' : '#00857c'}}" stroke-width="4"
                    class="cdk-drag-dragging"
                />
            </ng-container>
        </ng-container>
        <!-- the elements drawn on the canvas -->
        <ng-container *ngFor="let area of areas; let i = index">
            <ng-container [ngSwitch]="area.type">
                <circle *ngSwitchCase="'circle'"
                    attr.cx="{{area.x}}"
                    attr.cy="{{area.y}}"
                    attr.r="{{(area | castShape).r}}"
                    attr.fill="{{this.formArray!.controls[i].valid ? '#4db6ac' : this.formArray!.controls[i].pending ?
                    'url(#pending'+ (selectedAreaIndex === i ? '-selected' : '') +')' :
                    'url(#invalid' + (selectedAreaIndex === i ? '-selected' : '') +')'}}"
                    opacity=".5" attr.stroke="{{selectedAreaIndex === i && !this.formArray!.controls[i].valid ? 'red' : '#00857c'}}" attr.stroke-width="{{selectedAreaIndex === i ? 4 : 0}}"
                    (click)="clickArea$.next(i)" [class.draggable]="selectedAreaIndex === i"
                    cdkDrag
                    (cdkDragStarted)="dragStart$.next(i)" (cdkDragMoved)="dragMove$.next($event)" (cdkDragEnded)="dragEnd$.next($event)" 
                    />
                <rect *ngSwitchCase="'rectangle'"
                    attr.x="{{(area | castShape).w-(area | castShape).x < 0 ? (area | castShape).w : (area | castShape).x}}"
                    attr.y="{{(area | castShape).h-(area | castShape).y < 0 ? (area | castShape).h : (area | castShape).y}}"
                    attr.width="{{(area | castShape).w-(area | castShape).x < 0 ? (area | castShape).x-(area | castShape).w : (area | castShape).w-(area | castShape).x}}"
                    attr.height="{{(area | castShape).h - (area | castShape).y < 0 ? (area | castShape).y - (area | castShape).h : (area | castShape).h - (area | castShape).y}}"
                    attr.fill="{{this.formArray!.controls[i].valid ? '#4db6ac' : this.formArray!.controls[i].pending ?
                        'url(#pending'+ (selectedAreaIndex === i ? '-selected' : '') +')' :
                        'url(#invalid' + (selectedAreaIndex === i ? '-selected' : '') +')'}}"
                    opacity=".5" attr.stroke="{{selectedAreaIndex === i && !this.formArray!.controls[i].valid ? 'red' : '#00857c'}}" attr.stroke-width="{{selectedAreaIndex === i ? 4 : 0}}"
                    (click)="clickArea$.next(i)" [class.draggable]="selectedAreaIndex === i"
                    cdkDrag
                    (cdkDragStarted)="dragStart$.next(i)" (cdkDragMoved)="dragMove$.next($event)" (cdkDragEnded)="dragEnd$.next($event)" />
            </ng-container>
        </ng-container>
        <!-- The undo area of the selected element (it disappears when the element is being dragged)-->
        <ng-container *ngIf="selectedUndoArea && (draggedAreaIndex | isNan) && !this.formArray!.controls[selectedAreaIndex].hasError('invalidRange')">
            <ng-container [ngSwitch]="selectedUndoArea.type">
                <circle *ngSwitchCase="'circle'"
                    attr.cx="{{selectedUndoArea.x}}"
                    attr.cy="{{selectedUndoArea.y}}"
                    attr.r="{{(selectedUndoArea | castShape).r}}"
                    attr.fill="{{this.formArray!.controls[selectedAreaIndex].valid ? '#4db6ac' : this.formArray!.controls[selectedAreaIndex].pending ?
                        'url(#pending-selected)' : 'url(#invalid-selected)'}}"
                    opacity="0.3" stroke="#00857c" attr.stroke-width="{{(selectedAreaIndex | isNan) ? 0 : 1}}"
                    mask="url(#myMask)"
                    />
                <rect *ngSwitchCase="'rectangle'"
                    attr.x="{{(selectedUndoArea | castShape).w-(selectedUndoArea | castShape).x < 0 ? (selectedUndoArea | castShape).w : (selectedUndoArea | castShape).x}}"
                    attr.y="{{(selectedUndoArea | castShape).h-(selectedUndoArea | castShape).y < 0 ? (selectedUndoArea | castShape).h : (selectedUndoArea | castShape).y}}"
                    attr.width="{{(selectedUndoArea | castShape).w-(selectedUndoArea | castShape).x < 0 ? (selectedUndoArea | castShape).x-(selectedUndoArea | castShape).w : (selectedUndoArea | castShape).w-(selectedUndoArea | castShape).x}}"
                    attr.height="{{(selectedUndoArea | castShape).h - (selectedUndoArea | castShape).y < 0 ? (selectedUndoArea | castShape).y - (selectedUndoArea | castShape).h : (selectedUndoArea | castShape).h - (selectedUndoArea | castShape).y}}"
                    attr.fill="{{this.formArray!.controls[selectedAreaIndex].valid ? '#4db6ac' : this.formArray!.controls[selectedAreaIndex].pending ?
                        'url(#pending-selected)' : 'url(#invalid-selected)'}}"
                    opacity="0.3" stroke="#00857c" attr.stroke-width="{{(selectedAreaIndex | isNan) ? 0 : 1}}"
                    />
            </ng-container>
        </ng-container>
    </svg>
    <draw-box class="canvas-box" [style.pointer-events]="drawBoxPointerEvents" style.background-size="{{viewportSize.width}}px {{viewportSize.height}}px"></draw-box>
    <!-- The rowHeight introduces an offset of 1px for each row if the plain viewportSize is used, therefore the sum of such offsets must be removed from the count beforehand and a modified rowHeight must be passed as parameter -->
    <mat-grid-list *ngIf="originalSize" [cols]="originalSize.width/viewportSize.width" rowHeight="{{(originalSize.height-(gridIndexes.length/(originalSize.width/viewportSize.width)))/(originalSize.height/viewportSize.height)}}px" class="grid-box">
        <mat-grid-tile *ngFor="let tile of gridIndexes"
        [class.frame]="tile.is_frame">
            <div class="label">
                <span [class.selected]="!(selectedAreaIndex | isNan) && selectedAreaIndex >= 0 && $any(this.formArray!.controls[selectedAreaIndex].get('direction')?.value)?.label === 'Column' && areas[selectedAreaIndex].pos.c === tile.c">{{tile.c}}</span>
                , 
                <span [class.selected]="!(selectedAreaIndex | isNan) && selectedAreaIndex >= 0 && $any(this.formArray!.controls[selectedAreaIndex].get('direction')?.value)?.label === 'Row' && areas[selectedAreaIndex].pos.r === tile.r">{{tile.r}}</span>
                <mat-icon *ngIf="tile.is_frame && arrow !== undefined">{{arrow}}</mat-icon>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="!(image$ | async)" class="t-education" style="display: flex; align-items: center; justify-content: center;">
    <span>No spritesheet selected</span>
</div>